.auth-container {
  min-height: 100vh;
  background: linear-gradient(120deg, #2980b9, #6dd5fa);
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-card {
  background: white;
  padding: 35px;
  border-radius: 16px;
  width: 330px;
  text-align: center;
}

.auth-card input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
}

.auth-card button {
  width: 100%;
  padding: 12px;
  background: #27ae60;
  border: none;
  color: white;
  border-radius: 8px;
  margin-top: 10px;
}

.auth-card span {
  display: block;
  margin-top: 12px;
  color: #3498db;
  cursor: pointer;
}
