.dashboard-container {
  background: linear-gradient(120deg, #2ec4b6, #cbf3f0);
  min-height: 100vh;
  padding: 20px;
}

.dashboard-header {
  background: #023047;
  color: white;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
}

.btn-salir {
  background: red;
  border: none;
  padding: 8px 15px;
  color: white;
  border-radius: 6px;
}

.card-form, .card-reportes {
  background: white;
  margin-top: 20px;
  padding: 20px;
  border-radius: 12px;
}

.lista-productos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.producto-item {
  background: #219ebc;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
}

.lista-ventas li {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
}

.btn-guardar {
  background: #38b000;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  margin-top: 10px;
  border-radius: 8px;
}

.reporte-item {
  background: #edf2f4;
  margin: 5px 0;
  padding: 8px;
  border-radius: 6px;
}
